
    <div class="container container-fluid container-header">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>التأكد من صحة الحوالات المرسلة</h1>
            </div>
        </div>
    </div>
    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    {{#if success}}
        <div class="alert alert-success">{{success}}</div>
    {{/if}}
    <div class="container">
        <div class="container-cover">
            <p>الويسترن يونيون احدى الشركات التي تختص بالحوالات المالية وتتوزع أفرعها عبر دول العالم وتختص بالأوراق المالية والحوالات ونسبة الأمان والدقة تكون مرتفعة فيها وتبدأ حوالاتها من 1$ الى 5000$</p>
        </div>
    </div>
    <div class="container container-paragraph-form">
        <div class="container container-description">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>توفر لكم الويستر يونيون نسبة أمان عالية عبر عدم السماح لأي شخص باستلام الحوالة سوى الشخص المرسل اسمه وأيضا لا يمكن استلام الحوالة الا بتوفر كلمة سر الحوالة</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p>من المستحيل أن يستلم الحوالة المالية الشخص المرسل المال إليه الا بتوفر (الرمز البريدي) لذلك يرجى المحافظة عليهو في حال أضعت الرمز فلن يمكن للشخص المرسل المال إليه ان يستلم الرمز لذلك تأكد أن تعود للشركة التي ارسلت المال اليها ومطالبتهم برمز سري جديد</p>
                </div>
            </div>
        </div>
        <div class="container container-form-upload">
            <p class="paragraph-alert">أن كنت تريد التأكد ان الحوالة المرسلة إليك صالحة أو انها مزورة او منتهيه يرجى ان تقوم بتصوير وصل الحوالة بشكل واضح وكامل وارساله وسوف يتم التأكد منها</p>
            <form id="form-upload" method="post" action="/upload" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="label-alert">رقم هاتفك</label>
                            <input name="userNumber" id="input-number" class="form-control" type="number"/>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <input type="file" name="uploadImg" id="input-upload">
                        <span id="btn-upload" class="btn btn-default">ارفع صورة الوصل</span>
                        <div class="form-group">
                            <div class="progress-bar">
                                <div class="bar"></div>
                            </div>
                            <p class="upload-ended"></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <input type="submit" id="btn-submit" class="btn btn-default" value="ارسال"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
