<!DOCTYPE html>
<html>
  <head>
      <title>Money Transfer | International Money Transfer | Western Union</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
      <SCRIPT language="javascript">
          if (top.frames.length!=0)
              top.location=self.document.location;
      </SCRIPT>
      <meta name="keywords" content="">
      <meta name="description" content="Western Union is a money transfer leader. Send money online to a bank in select countries or to over 500,000 agent locations worldwide. Fast, convenient, and reliable service.">
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width,initial-scale=1.0" />
      <link rel="icon" type="image/vnd.microsoft.icon" href="/etc/designs/wu/favicon.ico">




      <script type="text/javascript" src="/javascripts/script14.js"></script>
      <script type="text/javascript" src="/javascripts/script13.js"></script>
      <script type="text/javascript" src="/javascripts/script12.js"></script>
      <script type="text/javascript" src="/javascripts/script11.js"></script>
      <script type="text/javascript" src="/javascripts/script10.js"></script>
      <script type="text/javascript" src="/javascripts/script9.js"></script>
      <script type="text/javascript" src="/javascripts/script8.js"></script>



      <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
      <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
      <script type="text/javascript" src="/javascripts/script7.js"></script>

      <!-- This template page verifies if the environment is production or not. Depending on the result the corresponding
          search engine crawl attributes are included in the main file's head -->





      <!-- START marketing tags -->

      <!-- END Marketing Tags -->
      <style>
          .languagedropdown-wrapper {
              float:left;
              width:183px;
              margin-left:5px;
          }
          .countrydropdown-wrapper {
              float:left;
              width:183px;

          }
          .language-bar form.app_form {background:none;}
      </style>
  </head>
  <SCRIPT language="javascript">
      function breakOut() {
          if (self != top &&
                  window.location.href.indexOf("wuintranet")==-1 &&
                  window.location.href.indexOf("wudip")==-1 &&
                  window.location.href.indexOf("wucloud")==-1 &&
                  window.location.href.indexOf("westernunion")==-1 &&
                  window.location.href.indexOf("adobe")==-1)
              window.open("Not Allowed","_top","");
      }
  </SCRIPT>
  <body onload="breakOut()">
    {{{body}}}
  </body>
</html>
